#catpchaInfoForm {
	margin: 0;
	width: 350px;
	background: #fff;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#catpchaInfoForm .text label {
	display: block;
}

#catpchaInfoForm .text input {
	width: 300px;
	margin: 0 0 10px 0;
}

#catpchaInfoForm .submit {
	margin: 0;
	padding: 0;
}

#delete-action a, a.deleteFieldItem {
	float: right;
	font-size: 11px;
	text-decoration: none;
	border-bottom: 1px solid #f00;
	color: #f00;
	padding: 1px 2px;
}

#delete-action a {
	line-height: 14px;
	position: relative;
	top: 3px;
	margin: 0 0 0 5px;
}

#delete-action a:hover, a.deleteFieldItem:hover {
	/*border-bottom: 1px solid #f00;*/
	background: #f00;
	color: #fff;
}

#form_edit_options {
	width: 390px;
	margin: 0 0 20px 0;
	float: left;
	background: #fff;
}

#form_edit_options h3.hndle {
	cursor: default;
}

#form_edit_options .inside {
	padding: 10px;
}

#form_edit_options .submit {
	margin: 10px 0 10px 0;
	padding: 0;
}

#form_edit_options #psc_catcha_info {
	width: 250px;
	color: red;
}

#form_edit_options .select, #form_edit_options .checkbox, #form_edit_options .text {
	margin: 10px 0;
	width: 370px;
}

#form_edit_options label {
	display: block;
	margin: 0 0 5px 0;
}

#form_edit_options .checkbox label {
	display: inline;
	padding: 0 0 0 5px;
}

#form_edit_options label .small, .fieldItems label .small {
	font-size: 10px;
	display: block;
}

#form_edit_options .select select {
	width: 250px;
}

.fieldItems {
	margin: 0 0 0 410px;
	list-style: none;
}

#form_edit_options h3.hndle, .fieldItems .fieldItem h3.hndle {
	font-size: 12px;
	font-weight: bold;
	padding: 7px 9px;
	line-height: 1;
	margin: 0;
}

.fieldItems .fieldItem .inside {
	padding: 10px 20px;
	display: none;
}

/*.fieldItems .fieldItem {
	background: #fff;
	padding: 10px;
	margin: 0 0 20px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}*/

.fieldItems .checkbox, .fieldItems .select, .fieldItems .text {
	margin: 10px 0 10px 0;
	background: transparent;
}

.fieldItems .checkbox {
	margin: 10px 0 10px 125px;
}

.fieldItems .select label, .fieldItems .text label {
	display: block;
	float: left;
	text-align: right;
	width: 90px;
	position: relative;
	top: 3px;
}

.fieldItems .select select, .fieldItems .text input {
	margin: 0 0 0 15px;
	width: 300px;
}

.fieldItems .options p.small {
	font-size: 10px;
	margin: 0 0 20px 105px;
}

.fieldItems .checkbox label {
	display: inline;
	padding: 0 0 0 5px;
}

#form_edit_options .preview.button {
	margin: 0 0 20px 410px;
}

#footer { display: none !important; }